In [51]:
import pandas as pd
import numpy as np

In [52]:
df_adam_lr_001 = pd.read_csv('opt_adam_lr_0.001.csv')
df_adam_lr_01 = pd.read_csv('opt_adam_lr_0.01.csv')
df_adam_sgd_001 = pd.read_csv('opt_sgd_lr_0.001.csv')
df_adam_sgd_01 = pd.read_csv('opt_sgd_lr_0.01.csv')
df_to_analyse = [df_adam_lr_001, df_adam_lr_01, df_adam_sgd_001, df_adam_sgd_01]
names = ["adam_lr_001", "adam_lr_01", "adam_lr_001", "adam_lr_01"]

In [53]:
def group_df(df, name):
    return df.groupby('model_name')\
                .agg({'test_acc':'mean'})\
                .reset_index()\
                .rename(columns={'test_acc':f'test_acc_avg_{name}'})

In [54]:
df_grouped = group_df(df_to_analyse[0], names[0])

In [55]:
for i in range(1, len(df_to_analyse)):
    df_grouped = group_df(df_to_analyse[i], names[i])\
                    .merge(df_grouped, on='model_name')

In [56]:
df_grouped

,model_name,test_acc_avg_adam_lr_01_x,test_acc_avg_adam_lr_001_x,test_acc_avg_adam_lr_01_y,test_acc_avg_adam_lr_001_y
0,FCN,0.703896,0.335556,0.747568,0.716871
1,MCDCNN,0.588691,0.347460,0.872252,0.771532
2,MLP,0.717282,0.581311,0.573929,0.764616
3,Resnet,0.819783,0.788642,0.663389,0.793257
4,Time_CNN,0.759781,0.505477,0.855959,0.775875

In [57]:
maxValueIndex = df_grouped.set_index('model_name').idxmax(axis=1)
print("Max values of row are at following columns :")
maxValueIndex.reset_index().rename(columns={0:f'max_avg_test_acc'})

Max values of row are at following columns :

  model_name            max_avg_test_acc
0        FCN   test_acc_avg_adam_lr_01_y
1     MCDCNN   test_acc_avg_adam_lr_01_y
2        MLP  test_acc_avg_adam_lr_001_y
3     Resnet   test_acc_avg_adam_lr_01_x
4   Time_CNN   test_acc_avg_adam_lr_01_y